@import "/home/ethan/.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", "sans-serif";
    font-weight: bold;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @color0;
    border: 1px solid @color5;
    border-radius: 12px;
}

tooltip label {
    color: @foreground;
    padding: 6px;
}

#workspaces {
    background-color: @color0;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    color: @foreground;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    background-color: @color8;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @color14;
    color: @background;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @color13;
    color: @foreground;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @color10;
    color: @foreground;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#custom-launcher, #battery, #pulseaudio, #network, #clock, #custom-notification {
    background-color: @color0;
    padding: 0 15px 0 15px;
    margin: 0 0 0 12px;
    border-radius: 50px;
}

#clock {
    color: @foreground;
}

#pulseaudio {
    color: @color12;
}

#network {
    color: @color14;
}

#battery {
    color: @color11;
}

#custom-notification {
    color: @color10;
}

#custom-launcher {
    color: @color13;
}
